<footer>
  <div class="footer-column">
    <div class="footer-column-header">Knack</div>
    <a class="footer-column-link">Handmade and artisan site</a>
    <a class="footer-column-link"></a>
    <a class="footer-column-link"></a>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">About us</div>
    <a class="footer-column-link">About me</a>
    <a class="footer-column-link">Our services</a>
    <a class="footer-column-link">Our team</a>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">Help</div>
    <a class="footer-column-link">Get in touch</a>
    <a class="footer-column-link">Discounts</a>
    <a class="footer-column-link">Returns</a>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">Social media</div>
    <a class="footer-column-link">Instagram</a>
    <a class="footer-column-link">Facebook</a>
    <a class="footer-column-link">Tweeter</a>
  </div>

</footer>
