<mat-card class="register-page">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="register-form"
      [formGroup]="registerForm"
    >

      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login" #login>

        <mat-error *ngIf="registrationLogin.errors?.['loginExists']"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName">
      </mat-form-field>


      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" name="phoneNumber">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput name="dateOfBirth"
               [matDatepicker]="dateOfBirthDatePicker"
               formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="dateOfBirthDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateOfBirthDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password"  formControlName="password" #password>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password"  formControlName="confirmPassword" #confirmPassword>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              type="submit"
      >
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
