<footer>
  <div class="footer-column">
    <div class="footer-column-header">Knack</div>
    <div class="footer-column-link">Handmade and artisan site</div>
    <div class="footer-column-link"></div>
    <div class="footer-column-link"></div>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">About us</div>
    <div class="footer-column-link">About me</div>
    <div class="footer-column-link">Our services</div>
    <div class="footer-column-link">Our team</div>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">Help</div>
    <div class="footer-column-link">Get in touch</div>
    <div class="footer-column-link">Discounts</div>
    <div class="footer-column-link">Returns</div>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">Social media</div>
    <div class="footer-column-link">Instagram</div>
    <div class="footer-column-link">Facebook</div>
    <div class="footer-column-link">Tweeter</div>
  </div>

</footer>
